@model Li.Lan.Views.Web.Models.LocalPasswordModel

<h4>Change password</h4>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword)
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    <div style="padding-top: 20px;">
        <input type="submit" class="btn btn-primary" value="Change password" />
    </div>
}
