@model Li.Lan.Views.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}
<div style="margin: 40px;">
    <h4>Forgot Password</h4>
    <div style="margin: 20px;">
        Please enter your email address below and an email will be sent to you with details
		on how to reset your password.
    </div>
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Reset request was unsuccessful. Please correct the errors and try again.")
        <div>
            @Html.LabelFor(m => m.UserName, "Email: ")
            @Html.TextBoxFor(m => m.UserName)<br />
            @Html.ValidationMessageFor(m => m.UserName)<br />
            <br />
            <input class="btn" type="submit" style="width: 250px;" value="Request Password Reset" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#UserName").focus();
        });
    </script>
}
