@model Li.Lan.Views.Web.Models.PasswordResetRequestModel
@{
    ViewBag.Title = "Password Reset Request";
}
<div style="margin: 20px;">
    <h4>Password Reset Request</h4>
    <div style="margin: 20px;">
        Please enter your email address and a new password below.
    </div>
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Reset request was unsuccessful. Please correct the errors and try again.")
        <div>
            @Html.HiddenFor(m => m.PasswordVerificationToken)
            @Html.LabelFor(m => m.UserName, "Email:")
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.LabelFor(m => m.Password, "New Password:")
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password:")
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)<br />
            <br />
            <input class="btn" type="submit" style="width: 200px;" value="Change Password" />
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#UserName").focus();
        });
    </script>
}
